<div class="sidebar">
    <div class="sidebar-scroller">
        <mat-card 
        *ngFor="let event of unassignedEvents" 
        class="sidebar-card"
        (click)="updateCurrentEventView(event)">
            <mat-card-title class="mat-card-title-sidebar">
                {{ event.name }}
            </mat-card-title>
            <mat-card-subtitle class="mat-card-subtitle-sidebar">
                {{ event.actors }}
            </mat-card-subtitle>
            <mat-card-subtitle class="mat-card-subtitle-sidebar">
                {{ typeToTypeNameMap.get(event.type) }}
            </mat-card-subtitle>
        </mat-card>
    </div>
    <div class="sidebar-form">
        <form>
            <div class="form-field">
                <mat-form-field>
                    <mat-label>Select Algorithm Option</mat-label>
                    <mat-select 
                    [(ngModel)]="selectedAlgorithmOption" 
                    name="selectedAlgorithmOption"
                    class="form-select"
                    (selectionChange)="onChangeAlgorithmOption(selectedAlgorithmOption)">
                        <mat-option
                        class="mat-option"
                        *ngFor="let algorithmOption of algorithmOptionList" 
                        [value]="algorithmOption">
                            {{ algorithmOption.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-field" *ngIf="selectedAlgorithmOption.value != ''" class="alg-checkbox-container">
                <mat-checkbox [(ngModel)]="useSorting" name="useSorting" (change)="onChangeUseSorting(useSorting)">
                    Use Sorting
                </mat-checkbox>
                <mat-checkbox [(ngModel)]="shuffleEvents" name="shuffleEvents" (change)="onChangeShuffleEvents(shuffleEvents)">
                    Shuffle Events
                </mat-checkbox>
            </div>
            <div class="form-field" *ngIf="selectedAlgorithmOption.value === '5'">
                <mat-checkbox [(ngModel)]="usePartialCol" name="usePartialCol" (change)="onChangeUsePartialCol(usePartialCol)">
                    Use Partial Coloring Optimisation
                </mat-checkbox>
            </div>
            <div class="form-field">
                <button mat-raised-button 
                class="generate-btn" 
                (click)="onGenerateTimetable()" [disabled]="isDataLoading">GENERATE</button>
            </div>
            <div class="form-field">
                <mat-radio-group 
                class="radio-btn-group"
                [(ngModel)]="selectedQueryOption"
                name="selectedQueryOption">
                    <mat-radio-button value="optionStudent" checked>Student Group</mat-radio-button>
                    <mat-radio-button value="optionProf">Professor</mat-radio-button>
                    <mat-radio-button value="optionRoom">Room</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="form-field" *ngIf="selectedQueryOption === 'optionStudent'">
                <mat-form-field>
                    <mat-label>Select Student Group</mat-label>
                    <mat-select 
                    [(ngModel)]="selectedStudentGroup" 
                    name="selectedStudentGroup" 
                    class="form-select"
                    (selectionChange)="onChangeStudentGroup(selectedStudentGroup)">
                        <mat-option 
                        class="mat-option"
                        *ngFor="let studentGroupDisplay of studentGroupDisplayList" 
                        [value]="studentGroupDisplay">
                            {{ studentGroupDisplay.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-field" *ngIf="selectedQueryOption === 'optionProf'">
                <mat-form-field>
                    <mat-label>Select Professor</mat-label>
                    <mat-select 
                    [(ngModel)]="selectedProfessor" 
                    name="selectedProfessor" 
                    class="form-select"
                    (selectionChange)="onChangeProfessor(selectedProfessor)">
                        <mat-option 
                        class="mat-option"
                        *ngFor="let professorDisplay of professorDisplayList" 
                        [value]="professorDisplay">
                            {{ professorDisplay.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-field" *ngIf="selectedQueryOption === 'optionRoom'">
                <mat-form-field>
                    <mat-label>Select Room</mat-label>
                    <mat-select 
                    [(ngModel)]="selectedRoom" 
                    name="selectedRoom" 
                    class="form-select"
                    (selectionChange)="onChangeRoom(selectedRoom)">
                        <mat-option 
                        class="mat-option"
                        *ngFor="let roomDisplay of roomDisplayList" 
                        [value]="roomDisplay">
                            {{ roomDisplay.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>