<div class="main">
  <div class="sidebar">
    <app-sidebar 
      (onChageSelectedAlgorithm)="onChageSelectedAlgorithm($event)"

      (onChangeSelectedStudentGroup)="onChangeStudentGroup($event)"
      (onChangeSelectedProfessor)="onChangeProfessor($event)"
      (onChangeSelectedRoom)="onChangeRoom($event)" 
      
      (onClickGenerateTimetable)="onGenerateTimetable()"
      (onClickEventCard)="displayUnassignedEvent($event)"
    ></app-sidebar>
  </div>
  <div class="timetable">
    <table>
      <thead>
          <th></th> <!-- empty cell -->
          <ng-container *ngFor="let classTime of classTimes">
              <th>{{ classTime }}</th>
          </ng-container>
      </thead>
      <tbody>
          <ng-container *ngFor="let day of days">
              <tr>
                <th>{{ day }}</th>
                <ng-container *ngIf="dayToEventsMap$ | async as dayToEventsMap">
                <ng-container *ngFor="let assignedEvent of dayToEventsMap.get(day)">
                  <td> 
                    <div class="timetable-card" 
                    *ngIf="assignedEvent.event && assignedEvent.resource">
                      <mat-card (click)="updateCurrentAssignedEvent(assignedEvent)">
                        <mat-card-title class="mat-card-title"> 
                          {{ assignedEvent.event.name }} 
                        </mat-card-title>
                        <mat-card-subtitle class="mat-card-subtitle"> 
                          {{ assignedEvent.resource.name }} 
                        </mat-card-subtitle>
                      </mat-card>
                    </div>
                    <ng-template #emptyCard>
                      <div class="timetable-card"></div>
                    </ng-template>
                  </td>
                </ng-container>
                </ng-container>
              </tr>
          </ng-container>
      </tbody>
    </table>
  </div>
  <div class="current-event-card">
    <app-event-card 
      [assignedEvent]="currentAssignedEvent"
      (toggleAvailabilityOn)="toggleAvailabilityTrue($any($event))"
      (toggleAvailabilityOff)="toggleAvailabilityFalse($any($event))"
    ></app-event-card>
</div>