.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.timetable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    width: 100%;
    border: 1px solid black;
}

.thead-cell {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}

.tbody-row-header {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}

.event-card-cell {
    text-align: center;
    padding: 0;
    border: 1px solid rgba(128, 128, 128, 0.5);;
    box-sizing: border-box;
    height: 100% !important;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.event-card-cell::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);;
    z-index: 0;
}

.cell-top, .cell-bottom {
    border: 1px solid lightgray;
    padding: 0;
    height: 50%;
}

.cell-top {
    border-bottom: none;
}

.card-content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.timetable-card {
    width: 100%;
    flex-grow: 1;
    height: 100% !important;
    word-wrap: break-word;
}

.timetable-mat-card {
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
}

.mat-card-title {
    font-size: 12px;
    font-weight: bold;
    word-wrap: break-word;
}

.mat-card-subtitle {
    word-wrap: break-word;
    font-size: 12px;
}

.current-event-card {
    margin: 20px;
}

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.under {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.pagination-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.left-arrow {
    order: 1;
    display: flex;
    align-self: flex-start;
    width: 20%;
    height: 100%;
}

.left-arrow:hover {
    cursor: pointer;
    color: yellow;
}

.right-arrow {
    order: 2;
    display: flex;
    align-self: flex-end;
    width: 20%;
    height: 100%;
}

.right-arrow:hover {
    cursor: pointer;
    color: yellow;
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 400px) {
    
}



