<div class="main-page"> 
  <div class="above">
    <app-file-transfer></app-file-transfer>
  </div>
  <div class="main">
    <div class="sidebar">
      <app-sidebar 
        [unassignedEvents]="unassignedEvents"
        (onChageSelectedAlgorithm)="onChageSelectedAlgorithm($event)"

        (onChangeSelectedStudentGroup)="onChangeStudentGroup($event)"
        (onChangeSelectedProfessor)="onChangeProfessor($event)"
        (onChangeSelectedRoom)="onChangeRoom($event)" 
        
        (onClickGenerateTimetable)="onGenerateTimetable()"
        (onClickEventCard)="displayUnassignedEvent($event)"
      ></app-sidebar>
    </div>
    <div class="timetable">
      <table mat-table [dataSource]="timetableData" class="mat-elevation-z8" class=".mat-table">
        <ng-container matColumnDef="rowClassTime">
          <th mat-header-cell *matHeaderCellDef class="theader-cell"></th>
          <td mat-cell *matCellDef="let element" class="tbody-row-header"> {{ element.rowClassTime }} </td>
        </ng-container>

        <ng-container *ngFor="let day of days; let colIdx = index" [matColumnDef]="day">
          <th mat-header-cell *matHeaderCellDef class="thead-cell"> {{ day }} </th>
          <td mat-cell
          *matCellDef="let element; let rowIdx = index"
          [attr.rowspan]="getRowSpan(element, rowIdx, colIdx)"
          [style.display]="getRowSpan(element, rowIdx, colIdx) == 0 ? 'none' : ''"
          [style.background-color]="getCellColor(element, rowIdx, colIdx)"
          class="event-card-cell">
              <ng-container
              *ngIf="element[day].event != null && element[day].resource != null">
                <div class="card-content-wrapper">
                  <div class="timetable-card">
                    <mat-card class="timetable-mat-card"
                    (click)="updateCurrentAssignedEvent(element[day])">
                      <mat-card-title class="mat-card-title"> 
                        {{ element[day].event.name }} 
                      </mat-card-title>
                      <mat-card-subtitle class="mat-card-subtitle"> 
                        {{ element[day].resource.name }} 
                      </mat-card-subtitle>
                    </mat-card>
                  </div>
                </div>
              </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef></th>
          <ng-container *ngFor="let day of days">
            <th mat-header-cell *matHeaderCellDef> {{ day }} </th>
          </ng-container>
        </tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
    <div class="current-event-card">
      <app-event-card 
        [assignedEvent]="currentAssignedEvent"
        [isCheckingAvailability]="checkingAvailability"
        (onCloseEventCardEmitter)="closeEventCard()"
        (toggleAvailabilityOn)="toggleAvailabilityTrue($any($event))"
        (toggleAvailabilityOff)="toggleAvailabilityFalse()"

        (onDeleteEventEmitter)="deleteEvent($event)"
      ></app-event-card>
    </div>
  </div>
  <div class="under">
    <div class="assign-event-container" *ngIf="checkingAvailability">
      <app-assign-event
      [currentEventToAssign]="currentAssignedEvent"
      [availableRooms]="currentEventRooms"
      [isOverlap]="isAssignmentOverlap"
      (getTimeslotRooms)="getRoomsForDayAndTime($event)"
      (onAssignEvent)="assignEvent($event)"
      ></app-assign-event>
    </div>
  </div>
</div>