<div class="main">
  <div class="sidebar">
    <app-sidebar 
      (onChageSelectedAlgorithm)="onChageSelectedAlgorithm($event)"

      (onChangeSelectedStudentGroup)="onChangeStudentGroup($event)"
      (onChangeSelectedProfessor)="onChangeProfessor($event)"
      (onChangeSelectedRoom)="onChangeRoom($event)"
      
      (onClickGenerateTimetable)="onGenerateTimetable()"
    ></app-sidebar>
  </div>
  <div class="timetable">
    <table>
      <thead>
          <th></th> <!-- empty cell -->
          <ng-container *ngFor="let classTime of classTimes">
              <th>{{ classTime }}</th>
          </ng-container>
      </thead>
      <tbody>
          <ng-container *ngFor="let day of days">
              <tr>
                <th>{{ day }}</th>
                <ng-container *ngIf="dayToEventsMap$ | async as dayToEventsMap">
                <ng-container *ngFor="let assignedEvent of dayToEventsMap.get(day)">
                  <td> 
                    <div class="timetable-card" *ngIf="assignedEvent.event != null">
                      {{ assignedEvent.event.abbr }} 
                    </div>
                    <ng-template #emptyCard>
                      <div class="timetable-card"></div>
                    </ng-template>
                  </td>
                </ng-container>
                </ng-container>
              </tr>
          </ng-container>
      </tbody>
    </table>
  </div>
</div>