<div class="file-transfer">
    <form>
        <div class="file-manage-form">
            <div class="form-field">
                <button type="button" mat-raised-button (click)="fileUploadInput.click()" class="file-upload-button">
                    <mat-icon>file_upload</mat-icon>    
                    Choose XML File to Upload
                </button>
                <input hidden (change)="onSelectUploadFile($event)" #fileUploadInput type="file" accept="text/xml" 
                [(ngModel)]="selectedFile" name="selectedFile"> 
            </div>
            <div class="form-field">
                <button type="button" mat-raised-button (click)="downloadCurrentConfiguration()" class="file-download-button">
                    <mat-icon>download</mat-icon>
                    Download Current Configuration
                </button>
            </div>
        </div>
        <div id="successful-upload">
            Upload Successful!
        </div>
        <div id="successful-download">
            Download Successful!
        </div>
        <div class="filename-select-container">
            <div class="form-field">
                <mat-form-field>
                    <mat-select placeholder="Select File" class="file-slect" [(ngModel)]="selectedFileName" name="selectedFileName">
                        <mat-option *ngFor="let fileName of timetableFileNames" 
                        [value]="fileName"
                        class="file-option">
                            <mat-icon (click)="deleteFile(fileName)" class="delete-file-icon">cancel</mat-icon>
                            <div class="file-option-text"> {{ fileName }} </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-field file-submit-btn">
                <button type="button" mat-raised-button (click)="useSelectedFile()" class="file-submit-selected" [disabled]="selectedFileName==='' || isFileLoading">
                    Use Selected File
                </button>
            </div>
        </div>
        <div class="form-field">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Algorithm Parameters
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <mat-form-field>
                        <mat-label>Number of Days</mat-label>
                        <input matInput type="number" [placeholder]="params.numberOfDays" [(ngModel)]="params.numberOfDays" name="params.numberOfDays">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Start Time of Day</mat-label>
                        <input matInput type="string" [placeholder]="params.startTime" [(ngModel)]="params.startTime" name="params.startTime">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>End Time of Day</mat-label>
                        <input matInput type="string" [placeholder]="params.endTime" [(ngModel)]="params.endTime" name="params.endTime">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>General Duration (hours)</mat-label>
                        <input matInput type="number" [placeholder]="params.generalDuration" [(ngModel)]="params.generalDuration" name="params.generalDuration">
                    </mat-form-field>
                    <button type="button" mat-raised-button (click)="updateParams()" class="file-submit-selected">
                        Update Parameters
                    </button>
                    <div id="bad-params-input">Wrong data format!</div>
                    <div id="successful-param-update">Parameters updated!</div>
                </div>
            </mat-expansion-panel>
        </div>
        <div id="timetable-file-change">
            Timetable File Changed!
        </div>
    </form>
</div>